<div class='ad-footer-contents'>
  <h2>  <%= button_to "航空会社一覧", airlines_index_path, { method: :get, class: "ad-footer-title"} %> </h2>
</div>
<div class='ad-footer-contents'>
  <h2><%= button_to "フライト機材一覧", airplanes_index_path, { method: :get, class: "ad-footer-title"} %></h2>
</div>