<%= render "shared/second-header"%>



<main class="main">
  <h1 class="index-top">航空会社一覧 </h1>
  <div class="inner">
    <div class="card__wrapper">
          <div class="card">
            <div class="airline-image"><a href ="https://cargo.koreanair.com/"><img src="/assets/korean-air.png" class="card__img"></a></div>
            <div class="card__body">
             <h2 class="card__title"> <a href ="https://cargo.koreanair.com/">大韓航空(KE)</a></h2>
            </div>
          </div>

           <div class="card">
           <div class="airline-image"><a href ="https://www.anacargo.jp/ja/"><img src="/assets/ANA.png" class="card__img"></a></div>
            <div class="card__body">
             <h2 class="card__title"> <a href ="https://www.anacargo.jp/ja/">全日本空輸(NH)</a></h2>
            </div>
          </div>

          <div class="card">
            <div class="airline-image"><a href ="https://www.jal.co.jp/jalcargo/"><img src="/assets/JAL.png" class="card__img"></a></div>
            <div class="card__body">
             <h2 class="card__title"> <a href ="https://www.jal.co.jp/jalcargo/">日本航空(JL)</a></h2>
            </div>
          </div>

          <div class="card">
            <div class="airline-image"><a href ="https://www.asianacargo.com/home.do"><img src="/assets/ASIANA.png" class="card__img"></a></div>
            <div class="card__body">
             <h2 class="card__title"> <a href ="https://www.asianacargo.com/home.do">アシアナ航空(OZ)</a></h2>
            </div>
          </div>

          <div class="card">
           <div class="airline-image"><a href ="https://www.nca.aero/main.html/"><img src="/assets/NCA.png" class="card__img"></a></div>
            <div class="card__body">
             <h2 class="card__title"> <a href ="https://www.nca.aero/main.html/">日本貨物航空(KZ)</a></h2>
            </div>
          </div>

          <div class="card">
           <div class="airline-image"><a href ="https://www.aircanada.com/cargo/en/"><img src="/assets/AC.png" class="card__img"></a></div>
            <div class="card__body">
             <h2 class="card__title"> <a href ="https://www.aircanada.com/cargo/en/">エアーカナダ(AC)</a></h2>
            </div>
          </div>

           <div class="card">
           <div class="airline-image"><a href ="https://www.silkwaywest.com/home/"><img src="/assets/7L.png" class="card__img"></a></div>
            <div class="card__body">
             <h2 class="card__title"> <a href ="https://www.silkwaywest.com/home/">シルクウェイ ウェスト航空(7L)</a></h2>
            </div>
          </div>

           <div class="card">
           <div class="airline-image"><a href ="https://aircargo.ups.com/"><img src="/assets/UPS.png" class="card__img"></a></div>
            <div class="card__body">
             <h2 class="card__title"> <a href ="https://aircargo.ups.com/">UPS(5X)</a></h2>
            </div>
          </div>

           <div class="card">
           <div class="airline-image"><a href ="https://www.brcargo.com/ec_web/Default.aspx"><img src="/assets/BR.png" class="card__img"></a></div>
            <div class="card__body">
             <h2 class="card__title"> <a href ="https://www.brcargo.com/ec_web/Default.aspx">エバー航空(BR)</a></h2>
            </div>
          </div>

           <div class="card">
           <div class="airline-image"><a href ="https://cargo.china-airlines.com/ccnetv2/content/home/index.aspx"><img src="/assets/CI.png" class="card__img"></a></div>
            <div class="card__body">
             <h2 class="card__title"> <a href ="https://cargo.china-airlines.com/ccnetv2/content/home/index.aspx">チャイナエアライン(CI)</a></h2>
            </div>
          </div>

           <div class="card">
           <div class="airline-image"><a href ="https://www.cathaypacificcargo.com/"><img src="/assets/CX.png" class="card__img"></a></div>
            <div class="card__body">
             <h2 class="card__title"> <a href ="https://www.cathaypacificcargo.com/">キャセイパシフィック(CX)</a></h2>
            </div>
          </div>


           <div class="card">
           <div class="airline-image"><a href ="https://www.skycargo.com/"><img src="/assets/EK.png" class="card__img"></a></div>
            <div class="card__body">
             <h2 class="card__title"> <a href ="https://www.skycargo.com/">エミレーツ航空(EK)</a></h2>
            </div>
          </div>



           <div class="card">
           <div class="airline-image"><a href ="https://www.etihadcargo.com/en-ae"><img src="/assets/EY.png" class="card__img"></a></div>
            <div class="card__body">
             <h2 class="card__title"> <a href ="https://www.etihadcargo.com/en-ae">エティハド航空(EY)</a></h2>
            </div>
          </div>


           <div class="card">
           <div class="airline-image"><a href ="https://lufthansa-cargo.com/home"><img src="/assets/LH.png" class="card__img"></a></div>
            <div class="card__body">
             <h2 class="card__title"> <a href ="https://lufthansa-cargo.com/home">ルフトハンザ ドイツ航空(LH)</a></h2>
            </div>
          </div>


           <div class="card">
           <div class="airline-image"><a href ="https://www.swissworldcargo.com/en/home"><img src="/assets/LX.png" class="card__img"></a></div>
            <div class="card__body">
             <h2 class="card__title"> <a href ="https://www.swissworldcargo.com/en/home">スイスインターナショナルエアラインズ(LX)</a></h2>
            </div>
          </div>



          <div class="card">
           <div class="airline-image"><a href ="https://www.polaraircargo.com/"><img src="/assets/PO.png" class="card__img"></a></div>
            <div class="card__body">
             <h2 class="card__title"> <a href ="https://www.polaraircargo.com/">ポーラ・エアカーゴ(PO)</a></h2>
            </div>
          </div>

          <div class="card">
           <div class="airline-image"><a href ="https://www.airbridgecargo.com/en/tracking/"><img src="/assets/RU.png" class="card__img"></a></div>
            <div class="card__body">
             <h2 class="card__title"> <a href ="https://www.airbridgecargo.com/en/tracking/">エアブリッジカーゴ(RU)</a></h2>
            </div>
          </div>

                     <div class="card">
           <div class="airline-image"><a href ="http://www.siacargo.com/"><img src="/assets/SQ.png" class="card__img"></a></div>
            <div class="card__body">
             <h2 class="card__title"> <a href ="http://www.siacargo.com/">シンガポール航空(SQ)</a></h2>
            </div>
          </div>


   </div>
  </div>
</main>

  <%= link_to 'トップページへ戻る', root_path %>

    <!-- /.main -->
