.index-page{
  background-color: #EEFFFF;
}

.body-title{
  font-size: larger;
  font-weight: bolder;
  color: navy;
}

.all-images{
  display: flex;
  justify-content: space-around;
  border-bottom: 4px double navy;
  border-top: 4px double navy;
}

.flight-image{
  width: 1040px;
  height: 60vh;
  margin: 5px 0;
}


.all-search-form{
  margin-bottom: 50px;
  text-align: center;
}

.search-form{
  display: flex;
  justify-content: center;
  margin: 15px 0;
  text-align: center;

}

.departure-form{
  font-weight: 900;
  margin-right:50px ;
  color:navy;
}

.arrive-form{
  font-weight: 900;
  color: navy;
}

.day-form{
  margin: 0 0 15px 0;
  font-weight: 900;
  color: navy;
}

.model-form{
  margin: 0 0 15px 0;
  font-weight: 900;
  color: navy;
}

.form-explain{
  font-size: small;
  font-weight: lighter;
  color: red;
}

.search-btn{
  width: 15vw;
  margin: 0 auto;
}